<header class="navbar navbar-fixed-top navbar-default">
<div class="logo">
<h1>Joseph Giancola</h1>
</div>
    <nav>
    <ul class="nav navbar-nav navbar">
        <li><%= link_to "Home", "#" %></li>
    </ul>
</nav>
</header>
<div class="body">
<div class="center jumbotron">
    <h1>Welcome to MySite</h1>

    <ul>
		<h3>Movies</h3>
		<li>Star Wars: The Force Awakens</li>		
		<li>Rocky</li>
		<li>Star Trek: Discovery</li>
    </ul>
    </div>
    
    
</div>